.navbar {
    background-color: #abc270;
    overflow: hidden;
    width: 100%;
}

.navbar ul {
    margin-left: 82%;
}

.navbar li {
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    float: right;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    opacity: 0.9;
    color: #fff;
    cursor: pointer;
}

.appbar {
    background-color: #abc270;
    box-shadow: none;
}

.price {
    position: absolute;
    margin-left: 190px;
}

.account {
    margin-left: 70px;
}

.sign-in-list li {
    list-style-type: none;
    display: inline;
    padding-left: 1px;
}

@media (max-width: 1100px) {
    .navbar ul {
        margin-left: 75%;
    }
}

@media (min-width: 1100px) {
    .btn-delete {
        position: absolute;
        margin-left: 240px;
    }
    .price-mobile {
        position: absolute;
        margin-left: 230px;
    }
}